<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.koalaworks.de/wccs/wcml/WebpageContentModelingLanguage"
			class = "de.koalaworks.wccs.wcml.webpageContentModelingLanguage.WebpageContentModelingLanguagePackage"
			genModel = "model/generated/WebpageContentModelingLanguage.genmodel" />
	</extension>
</plugin>
